# Copia este archivo a .env y completa los valores

# Flask secret key
SECRET_KEY=empresa_123

# SMTP (en producción cambia por credenciales reales)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=tu_correo@example.com
SMTP_PASSWORD=tu_app_password
EMAIL_SENDER=no-reply@tuinstitucion.cl
ESTABLECIMIENTO=Liceo Claudina Urrutia de Lavín
CODIGO_ESTABLECIMIENTO=0000

# Opcional: ngrok token
# NGROK_AUTH_TOKEN=

# Base de datos Neon (PostgreSQL)
DATABASE_URL=postgresql://usuario:contraseña@ep-endpoint.region.aws.neon.tech/neondb?sslmode=require
